/*body, div, a, button, h4, header, strong, span:not(.fa) {*/
/*  font-family: 'Open Sans', sans-serif !important;*/
/*}*/

.btn-search, #btn-search-desktop {
    background-color: transparent !important;
}

#div-conheca-o-clube {
    display: none !important;
}

account-subscriptions-list a {
    color: #997d45;
}

.cookiealert{
    position: fixed !important;
}

.card {
    border: 1px solid #E5E5E5 !important;
    background-color: #FFF !important;
    border-radius: 10px !important;
    padding: 20px !important;
    margin-bottom: 30px !important;
}
 
.card > .active {
    font-weight: 800;
}

.card-title.mb-0 {
    color: #3A3A3A;
}

account-addresses-item > .card {
    background-color: #faf6f2!important;
    border-radius: 4px !important;
    border-color: transparent!important;
}



.card-title > button {
    margin-top: -10px;
}

account-addresses .card-header button.btn span:hover, account-basic-data .card-header button.btn span:hover  {
    color: #3466A3;
    border: 2px solid #3466A3;
}

account-basic-data .card-header button.btn span:hover {
    border: none;
}

label.form-label {
    color: #666 !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: transparent !important;
    border: none !important;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}

button#button-update-password, .btn-link {
    color: #997d45!important;
    text-decoration: none!important;
}

button#button-update-password:hover, .btn-link:hover, account-contact .card-header button.btn span:hover {
    color: #997d45 !important;
}

a#identification-identification-button-register, a#identification-existent-email-forgot-password-button, a#identification-existent-email-cancel-button, form#identification-register-form footer a {
    background-color: transparent;
}

label, account-orders span, account-subscriptions-list-item, account-subscriptions-details .col-xs-12.col-sm-12.col-md-10.mb-md, account-cards .col-xs-12.m-0 {
    color: #333;
}

account-orders a {
    color: #3466A3 !important;
}

account-subscriptions-list-item {
    display: flex;
    background-color: #FAF9F8;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 4px;
}

account-subscriptions-list > .container-fluid > .row > .col-lg-10 > .p-0 .col-md-3.text-center:last-child {
    background-color: #EBCDB6!important;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}



account-subscriptions-list > .container-fluid > .row > .col-lg-10 > .p-0 .col-md-3.text-center:last-child a {
    color: #997d45 !important;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

account-subscriptions-list > .container-fluid > .row > .col-lg-10 > .mb-md {
    font-size: 13px;
    color: #A2A2A2!important;
    font-weight: 600;
    margin-top: 15px;
}

@media (min-width: 992px) {
    account-subscriptions-list .col-lg-2 {
        flex: 0 0 22.666667% !important;
        max-width: 22.666667% !important;
    }
    account-subscriptions-list .col-lg-10 {
        flex: 0 0 77.333333% !important;
        max-width: 78.333333% !important;
    }
}





.logado{
    display: none;
}
@media (min-width: 576px){
  .tingle-modal.identification-modal .tingle-modal-box {
      width: 25%;
  }
}
@media (max-height: 800px){
    .tingle-modal section button, .tingle-modal section input:not([type=checkbox]):not([type=radio]), .tingle-modal section select, .tingle-modal section textarea{
        padding: 7px;
        margin: 5px;
    }
}
.tingle-modal section footer {
    padding: 0px;
}
.fa-pencil:before {
    content: "\f044" !important;
}
.tingle-modal div.error.half {
    width: calc(50% - 5px)!important;
}
.tingle-modal section button.half, .tingle-modal section input.half:not([type=checkbox]):not([type=radio]), .tingle-modal section select.half, .tingle-modal section textarea.half {
  width: calc(50% - 15px)!important;
}
.tingle-modal.identification-modal .tingle-modal-box {
width: 100%;
max-width: 550px;
}
.tingle-modal h1 {
color: #b58f51;
margin-bottom: 0px;
}
button#identification-identification-button-submit {
margin-bottom: 5px;
}
.tingle-modal.identification-modal section button.fb,
.tingle-modal.identification-modal section button.google {
margin-bottom: 20px;
}
.tingle-modal.identification-modal .canopus-identification-modal-content .sections {
max-height: 750px;
}
#identification-identification-form button,
#identification-existent-email button,
#identification-register button,
#identification-how-to-recover-password button,
#identification-input-password-recovery-token button,
#identification-new-password button {
background: #b58f51;
}
a#identification-register-cancel-button,
a#identification-register-corporate-person-button,
a#identification-existent-email-forgot-password-button,
a#identification-existent-email-cancel-button,
a#identification-how-to-recover-password-cancel-button,
a#identification-register-individual-person-button,
a#identification-identification-button-register {
margin-bottom: 10px;
color: #F77300;
display: block;
}
#identification-how-to-recover-password-form label:last-of-type {
margin-bottom: 20px;
display: block;
}
.canopus-identification-modal-content form label {
font-size: 13px;
}
.container.account {
padding: 0;
margin: 50px auto 100px;
max-width: 1170px;
}
account-profile > .container-fluid > .row > div:first-child,
account-orders > .container-fluid > .row > div:first-child,
account-subions-list > .container-fluid > .row > div:first-child,
account-cards > .container-fluid > .row > div:first-child {
flex: 23%;
max-width: 23%;
align-self: flex-start;
}
account-profile > .container-fluid > .row > div:last-child,
account-orders > .container-fluid > .row > div:last-child,
account-subions-list > .container-fluid > .row > div:last-child,
account-cards > .container-fluid > .row > div:last-child {
flex: 74.3%;
max-width: 74.3%;
}
account-profile > .container-fluid > .row > div:last-child > .row:first-child h1,
account-orders > .container-fluid > .row > div:last-child > .row:first-child h1,
account-subions-list > .container-fluid > .row > div:last-child > .row:first-child h1,
account-cards > .container-fluid > .row > div:last-child > .row:first-child h1 {
/*color: #666;*/
/*font-size: 20px;*/
/*margin-bottom: 20px;*/
/*font-family: Arial;*/
display: none;
}
account-orders-details .container-fluid > .row > div:first-child {
flex: 23%;
max-width: 23%;
align-self: flex-start;
}
account-orders-details .container-fluid > .row > div:last-child {
flex: 74.3%;
max-width: 74.3%;
}
account-sidebar .card {
    border: 1px solid #faf6f2 !important;
    border-radius: 4px!important;
    padding: 15px 2px!important;
    background-color: #faf6f2 !important;
}
account-sidebar .card .card-header {
background-color: transparent;
border-bottom: none;
color: #997d45;
text-transform: capitalize;
font-weight: 700;
font-size: 0px;
}
account-sidebar .card .card-header:before{
  content: "minha conta";
  font-size: 18px;
  font-weight: 700;
}
account-sidebar .card .list-group-item {
border: none;
background: transparent;
padding: 5px 1.25rem;
}
account-sidebar .card .list-group-item a i {
display: none;
}
account-sidebar .card .list-group-item a span {
font-size: 15px;
font-weight: 400;
color: #5D5D5D;
margin-left: 0 !important;
font-family: 'DM Sans', sans-serif;
}
account-sidebar .card .list-group-item a:hover {
text-decoration: none !important;
}
account-basic-data .card-header,
account-contact .card-header,
account-addresses .card-header {
background-color: transparent;
border-bottom: none;
padding-top: 20px;
}
account-basic-data .card-header h4 .fa,
account-contact .card-header h4 .fa,
account-addresses .card-header h4 .fa {
color: #BFBFBF;
}
account-basic-data .card-header h4 strong,
account-contact .card-header h4 strong,
account-addresses .card-header h4 strong {
font-size: 18px;
color: #5D5D5D;
}
account-basic-data .card-header button.btn,
account-contact .card-header button.btn,
account-addresses .card-header button.btn {
background-color: transparent;
font-size: 1.75rem;
border: none;
}
account-basic-data .card-header button.btn span,
account-contact .card-header button.btn span,
account-addresses .card-header button.btn span {
color: #E5E5E5;
}
.btn-success {
  background-color: #997d45!important;
  border-color: #997d45!important;
  color: #fff!important;
  font-weight: 600 !important;
  border-radius: 25px !important;
  text-transform: none !important;
}
/*
account-basic-data .card-header button.btn:hover,
account-contact .card-header button.btn:hover,
account-addresses .card-header button.btn:hover {
background-color: #e5e5e5;
}
*/
account-basic-data .card-body .form-group strong,
account-contact .card-body .form-group strong,
account-addresses .card-body .form-group strong {
color: #A2A2A2;
font-weight: 600;
font-size: 13px;
}
account-basic-data .card-body .form-group span,
account-contact .card-body .form-group span,
account-addresses .card-body .form-group span {
color: #5D5D5D;
font-weight: 600;
font-size: 14px;
}
account-addresses .card-header button.btn {
border: none;
background-color: transparent;
width: 35px;
height: 35px;
}
account-addresses .card-header button.btn span {
color: #5cb85c;
border: 2px solid #5cb85c;
padding: 5px;
font-size: 10px;
border-radius: 50px;
margin-top: -10px;
width: 24px;
}
.checkout-cart-preview + .header_wrap .admin .total {
margin-bottom: 0;
}
account-cards .container-fluid > .row > div:nth-child(2) > div:nth-child(3) {
padding-bottom: 50px;
padding-left: 20px;
}
account-subions-list .d-md-flex > div:nth-child(1) {
max-width: 100px !important;
}
account-subions-list .d-md-flex > div:nth-child(4) {
max-width: 500px !important;
}
account-subions-list-item {
height: auto;
min-height: 48px;
background: #f2f2f2;
display: flex;
align-items: center;
justify-content: space-between;
}
account-subions-list-item > div:nth-child(1) {
max-width: 100px !important;
padding-top: 13px;
}
account-subions-list-item > div:nth-child(4) {
max-width: 500px !important;
}
account-subions-list-item > div:nth-child(5) {
max-width: 200px !important;
min-height: 48px;
background: #b58f51;
}
account-subions-list-item > div:nth-child(5) a {
color: #fff;
line-height: 48px;
padding: 0;
margin: 0;
font-size: 16px;
font-weight: 600;
}
account-subions-list-item > div:nth-child(5) a:hover {
color: #171516 !important;
text-decoration: none !important;
}
account-subions-details .container-fluid > .row > div:first-child {
flex: 23%;
width: 23%;
max-width: 23%;
}
account-subions-details .container-fluid > .row > div:last-child {
flex: 74.3%;
width: 74.3%;
max-width: 74.3%;
}
account-subions-details h1.col,
account-orders-details h1.col {
color: #171516;
margin-bottom: 30px;
}
account-subions-details-payment-data .card-header,
account-subions-details-orders .card-header,
account-subions-details-basic-data .card-header,
account-orders-details-basic-data .card-header,
account-orders-details-items .card-header,
account-orders-details-shipping-address .card-header {
background: transparent;
padding: 0;
height: 45px;
display: flex;
align-items: center;
padding-left: 15px;
}
account-subions-details-payment-data .card-title,
account-subions-details-orders .card-title,
account-subions-details-basic-data .card-title,
account-orders-details-basic-data .card-title,
account-orders-details-items .card-title,
account-orders-details-shipping-address .card-title {
font-size: 14px;
font-weight: 600;
margin-bottom: 0;
color: #5D5D5D;
}
completed .container {
padding: 50px 0;
}

@media screen and (max-width: 991px) {
account-subions-list > .container-fluid > .row > div:first-child {
  width: 100%;
  max-width: 100%;
}
account-subions-list > .container-fluid > .row > div:last-child {
  width: 100%;
  max-width: 100%;
}
account-subions-list-item > div {
  width: unset !important;
  padding-right: 0 !important;
}
account-subions-list-item > div:nth-child(1) {
  padding-top: 0 !important;
}
account-subions-list-item > div:nth-child(5) {
  padding-right: 15px !important;
}
html account-profile > .container-fluid > .row > div:first-child,
html account-orders > .container-fluid > .row > div:first-child,
html account-subions-list > .container-fluid > .row > div:first-child,
html account-cards > .container-fluid > .row > div:first-child,
html account-subions-details > .container-fluid > .row > div:first-child,
html account-profile > .container-fluid > .row > div:last-child,
html account-orders > .container-fluid > .row > div:last-child,
html account-subions-list > .container-fluid > .row > div:last-child,
html account-cards > .container-fluid > .row > div:last-child,
html account-subions-details > .container-fluid > .row > div:last-child {
  width: 95% !important;
  max-width: 95% !important;
  margin: 50px auto;
}
}
@media screen and (max-width: 600px) {
account-subions-list-item > div {
  width: 100% !important;
  display: flex;
  margin-bottom: 10px;
}
account-subions-list-item > div:nth-child(1) {
  margin-top: 10px;
}
account-subions-list-item > div:nth-child(5) {
  width: 100%;
  max-width: 100% !important;
  margin-bottom: 0;
  text-align: center;
  justify-content: center;
}
}
/* checkout preview*/
.canopus-cart-resume{
  text-align: center;
}

input.quantity-modal-input {
  width: 38px;
  height: 44px;
  border: 0;
  border-radius: 3px;
  text-align: center;
  color: #333;
}
.btn-more-qtd-modal .fas, .btn-less-qtd-modal .fas{
  margin: 0 auto;
  font-size: 10px;
}
.remove-item {
  border: 0px;
  color: #A6A6A6;
  background: transparent;
  position: absolute;
  top: 10px;
  left: 90%;
  font-size: 20px;
  cursor:pointer;
}
.canopus-cart-modal-title{
  padding: 20px 40px 20px 20px;
}
.canopus-cart-modal-title span.title {
  font-size: 30px;
  font-weight: lighter;
  color: #000000;
}
.canopus-cart-modal-title .carrinho-qtd-content {
  padding-bottom: 9px;
  margin-left: 6px;
  font-size: 16px;
  color: #8C8C8C;
}
.canopus-cart-modal-title .carrinho-qtd-content em{
  font-style:normal;
}
.btn-more-qtd-modal, .btn-less-qtd-modal {
  background: #FFFFFF;
  border: 2px solid #BFBFBF;
  color: #BFBFBF;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  line-height: 1pt;
  padding: 0px;
  cursor: pointer;
}
.canopus-cart-item-qtdModal p{
  display: inline-block;
  color: #262626;
  font-size: 20px;
  margin: 0px;
  margin-left: 20px;
  font-weight: 500;
}
.modal-preview-bottom-item {
  background-color: #F2F2F2;
  padding: 20px 40px 20px 20px;
  border-bottom: 1px solid #D9D9D9;
}
.modal-preview-bottom-item em{
  font-size: 16px;
  font-style:normal;
}
.modal-preview-bottom-item span{
  font-weight: 500;
  font-size: 21px;
}
.quantidade-modal-item{
  display: inline-block;
  width: 100px;
  text-align: center;
}
input#inputCEPModal {
  color: black!important;
  height: auto;
  width: 100%;
  border: 0px;
  padding: 8px;
  font-size: 14px;
  margin-left: 0px;
}
button#calcular-ftre-btn-modal {
  background: none!important;
  border: none!important;
  color: #FF8600;
  cursor: pointer;
}
.container-frete-preview li {
  list-style-type: none;
  color: #262626;
  font-size: 14px;
  background: #FFFFFF;
  width: 100%;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  position:relative;
}
.container-frete-preview li .fa {
  margin-right: .5rem
}
.container-frete-preview ul {
  padding: 0;
  padding-left: 0px;
}
.checkout-cart-preview .canopus-cart-goto-checkout span {
  width: 235px;
  display: inline-block;
  background: #b58f51;
  color: white;
  text-align: center;
  font-weight: 500;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase
}
.tingle-modal__close:hover {
  color: #b58f51 !important;
}

.container-fluid {
    padding-top: 25px;
}

#button-top-search {
    height: 100%;
}

account-orders-list-item.row.mb-md {
    background-color: #faf6f2;
    border: none;
    display: flex;
    align-items: center;
}

account-orders>.container-fluid>.row>.col-lg-10>.p-0 .col-md-3.text-center:last-child a {
    color: #fff!important;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

account-orders>.container-fluid>.row>.col-lg-10>.p-0 .col-md-3.text-center:last-child {
    background-color: #d9b162!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

account-orders .row.mb-md.d-none.d-md-flex {
    font-size: 13px;
    color: #A2A2A2!important;
    font-weight: 600;
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    #title-categoria-desktop {
        margin: 86px 0 25px !important;
    }
}

#btn-toggleNav, #mySidenav button {
    background-color: transparent !important;
}

#mySidenav .card {
    padding: 0!important;
    margin-bottom: 0px!important;
}

.card-title .fa-user, .card-title .fa-phone, .card-title .fa-home {
    display: none;
}

a.active span {
    color: #997d45 !important;
    font-weight: 600 !important;
}

h1.col {
    display: none;
}

account-subscriptions-details .card-header {
    background-color: transparent !important;
    color: #5D5D5D;
}

account-subscriptions-details .card-header h4 {
    font-size: 18px !important;
    font-weight: 700;
}

@media (min-width: 768px) {
    account-subscriptions-details .col-md-2 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    account-subscriptions-details .col-md-10 {
        flex: 0 0 75%;
        max-width: 75%;
    }
}

account-subscriptions-details-orders a {
    background-color: #EBCDB6 !important;
    font-weight: 700 !important;
    border-radius: 30px !important;
    padding-top: 11.4px !important;
}















@media only screen and (max-width: 600px) {
    #div-title-minhaconta {
        margin-bottom: -30px;
    }
    .center {
        padding: 0px 15px;
    }
}

@media only screen and (min-width: 601px) {
    #div-title-minhaconta .center {
        padding: 15px 0;
    }
    #div-title-minhaconta {
        padding-bottom: 30px;
    }
    .center {
        max-width: 1170px;
        margin: auto;
    }
}

#title-minhaconta {
    font-size: 40px;
    font-weight: 700;
    text-transform: lowercase;
}

#subtitle-minhaconta {
    font-size: 13px;
    font-weight: 500;
    text-transform: lowercase;
}

#title-minhaconta::first-letter {
    text-transform: uppercase;
}

#list-gr-item-subscriptions {
    display: none;
}

#btn-toggle-sidenav {
    background-color: #fff;
}
